/**
 * Copyright 2009 Västra Götalandsregionen
 *
 *   This library is free software; you can redistribute it and/or modify
 *   it under the terms of version 2.1 of the GNU Lesser General Public
 *   License as published by the Free Software Foundation.
 *
 *   This library is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU Lesser General Public License for more details.
 *
 *   You should have received a copy of the GNU Lesser General Public
 *   License along with this library; if not, write to the
 *   Free Software Foundation, Inc., 59 Temple Place, Suite 330,
 *   Boston, MA 02111-1307  USA
 */
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
HTML {
	font-size: 100%;

}
BODY {
	PADDING: 0px;
	LINE-HEIGHT: 1.5em;
	PADDING-TOP: 0px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	/*BACKGROUND-COLOR: #EBF5F6;*/
	background:#cae2f6;
	TEXT-ALIGN: center;
	font-size:0.75em;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

#WhiteHolder {
	POSITION: static; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #0000cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000cc; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
#Wrapper .rm {
	VISIBILITY: hidden
}
/* Body information for HealthCareInformation form*/
#HealthCareInfo {
	text-align:left;
	margin:10px;
	padding: 0px;
	background-color:#FFF;               
}
/* added this to avoid line-break when adding <p> in an editor #2168*/
p
{
	margin-top:0em;
}
