<?xml version='1.0' encoding='UTF-8'?>
	<!--
		/* Copyright 2009 Västa Götalandsregionen This library is free
		software; you can redistribute it and/or modify it under the terms of
		version 2.1 of the GNU Lesser General Public License as published by
		the Free Software Foundation. This library is distributed in the hope
		that it will be useful, but WITHOUT ANY WARRANTY; without even the
		implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
		PURPOSE. See the GNU Lesser General Public License for more details.
		You should have received a copy of the GNU Lesser General Public
		License along with this library; if not, write to the Free Software
		Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
		USA */
	-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<description>KIVTOOLS-HRIV-MODULE-WEBAPP</description>

	<!-- resolving .xhmtl files for Facelets -->
	<context-param>
		<param-name>facelets.RESOURCE_RESOLVER</param-name>
		<param-value>
			se.vgr.javg.util.webcomponent.support.FaceletsClasspathResourceResolver 
		</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value> classpath*:/services-config.xml
			/WEB-INF/webflow-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.REFRESH_PERIOD</param-name>
		<param-value>2</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
		<!--
			<param-value>client</param-value>
		-->
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.verifyObjects</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
		<param-value>true</param-value>
	</context-param>
	<!--
		Guarantees that under all JSF exit conditions, the flow context will
		be cleaned up
	-->
	<filter>
		<filter-name>Flow System Cleanup Filter</filter-name>
		<filter-class>
			org.springframework.webflow.executor.jsf.FlowSystemCleanupFilter</filter-class>
	</filter>
	<!--
		Filters all request to *.faces to the Flow System Cleanup Filter for
		guarenteed cleanup
	-->
	<filter-mapping>
		<filter-name>Flow System Cleanup Filter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<!--
		MyFaces listener that starts up the JSF engine by reading
		faces-config.xml
	-->
	<listener>
		<listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
	</listener>
	<!--
		Bootstraps the root Spring Web Application Context, responsible for
		deploying managed beans defined in the configuration files above.
		These beans represent the services used by the JSF application.
	-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--
		Used to be able to specify session arguments in services-config.xml
	-->
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>JAVG Classpath Servlet</servlet-name>
		<servlet-class>
			se.vgr.javg.util.webcomponent.support.ClasspathResourceLoadingServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!--
		Mapp all url:s beginning with "resource" to /resources/* for loading
		from web composite jars on the classpath rather than the web-inf
		directory
	-->
	<servlet-mapping>
		<servlet-name>JAVG Classpath Servlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>

	<!-- JAVG support for using GET-links with JSF/Webflow -->
	<servlet>
		<servlet-name>JSFWebFlowGetRequestDispatcher</servlet-name>
		<servlet-class>
			se.vgr.javg.support.webflow.v1.JSFWebFlowGetRequestDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSFWebFlowGetRequestDispatcher</servlet-name>
		<url-pattern>/getlink</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map all requests to *.jsf to the Faces Servlet for handling -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<!--  Servlet used as workaround for non-working actionlinks i jsf -->
	<servlet>
		<servlet-name>Display Unit By hsaId</servlet-name>
		<jsp-file>/displayUnitByHsaId.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Display Unit By hsaId</servlet-name>
		<url-pattern>/visaenhet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Display Unit by DN</servlet-name>
		<jsp-file>/displayUnitByDN.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Display Unit by DN</servlet-name>
		<url-pattern>/visaenhetdn</url-pattern>
	</servlet-mapping>

	<!-- Used for linkgeneration -->
	<!--    Step 1 Units -->
	<servlet>
		<servlet-name>Display All Units</servlet-name>
		<jsp-file>/displayAllUnits.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Display All Units</servlet-name>
		<url-pattern>/visaallaenheter</url-pattern>
	</servlet-mapping>
	<!--   Step 2 Units -->
	<servlet>
		<servlet-name>Display Range of Units</servlet-name>
		<jsp-file>/displayRangeOfUnits.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Display Range of Units</servlet-name>
		<url-pattern>/visaenheter_range</url-pattern>
	</servlet-mapping>

	<!--  Servlet used as workaround for non-working actionlinks i jsf -->
	<servlet>
		<servlet-name>Search units</servlet-name>
		<jsp-file>/searchUnits.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search units</servlet-name>
		<url-pattern>/searchunits</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Startpage</servlet-name>
		<jsp-file>/startpage.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Startpage</servlet-name>
		<url-pattern>/startpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>suggestions</servlet-name>
		<servlet-class>se.vgregion.kivtools.servlets.Suggestions</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>suggestions</servlet-name>
		<url-pattern>/suggestions</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>se.vgregion.kivtools.servlets.Proxy</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sitemap</servlet-name>
		<servlet-class>se.vgregion.kivtools.servlets.Sitemap</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Sitemap</display-name>
		<servlet-name>Sitemap</servlet-name>
		<servlet-class>se.vgregion.kivtools.servlets.Sitemap</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sitemap</servlet-name>
		<url-pattern>/sitemap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sitemap</servlet-name>
		<url-pattern>/Sitemap</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/displayError.jsf</location>
	</error-page>
	<error-page>
		<exception-type>
			org.springframework.webflow.execution.repository.support.InvalidContinuationIdException</exception-type>
		<location>/displayError.jsf</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>Vardval security</display-name>
		<web-resource-collection>
			<web-resource-name>Secured area</web-resource-name>
			<url-pattern>/secure/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>citizens</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>citizens</role-name>
	</security-role>
</web-app>